@model ApontamentoModel

@{
    ViewData["Title"] = "Inserir Apontamentos";
}

<div class="text">

    <h1 class="display-4">Inserir Apontamento</h1>

</div>

<br />

<form asp-controller="Apontamento" asp-action="Adicionar" method="post">
    <div class="form-group">
        <label for="nome">Data</label>
        <input type="date" asp-for="Dia" class="form-control" placeholder="" dateFormat="mm-dd-yyyy" style="width:400px">
        @Html.ValidationMessageFor(x => x.Dia)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Stream</label>
        <select asp-for="Stream" class=" form-control" style="width:400px">
            <option>----- Selecione -----</option>
            <option>ABSENCE</option>
            <option>APPS</option>
        </select>
        @Html.ValidationMessageFor(x => x.Stream)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Atividade</label>
        <select asp-for="Atividade" class="form-control" style="width:400px">
            <option>----- Selecione -----</option>
            <option>Biomarkers</option>
            <option>Evendor</option>
            <option>Sistema de apontamentos</option>
        </select>
        @Html.ValidationMessageFor(x => x.Atividade)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Fase</label>
        <select asp-for="Fase" class="form-control"style="width:400px">
            <option>----- Selecione -----</option>
            <option>To Do</option>
            <option>Doing</option>
            <option>Done</option>
        </select>
        @Html.ValidationMessageFor(x => x.Atividade)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Horas</label>
        <select asp-for="Horas" class="form-control" style="width:400px">
            <option>----- Selecione -----</option>
            <option value="1">01:00</option>
            <option value="2">02:00</option>
            <option value="3">03:00</option>
            <option value="4">04:00</option>
            <option value="5">05:00</option>
            <option value="6">06:00</option>
            <option value="7">07:00</option>
            <option value="8">08:00</option>
        </select>
        @Html.ValidationMessageFor(x => x.Atividade)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Observações</label>
        <textarea asp-for="Observacoes" class="form-control" style="width:400px" placeholder="50-300 caracteres">Observações</textarea>
        @Html.ValidationMessageFor(x=> x.Observacoes)
    </div>

    <button type="submit" class="btn btn-primary btn-block" style="width:400px">Adicionar</button>
</form>