@model List<ApontamentoModel>
@{
    ViewData["Title"] = "Apontamentos";
}

<div class="text-center">
    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Apontamento" asp-action="Adicionar">Adicionar Apontamento</a>
    </div>

    <h1 class="display-4">Apontamentos</h1>

    <table class="table" id="table-apontamentos">
        <thead>
            <tr>
                <th scope="col" style="text-align:center">Id</th>
                <th scope="col" style="text-align:center">Stream</th>
                <th scope="col" style="text-align:center">Atividade</th>
                <th scope="col" style="text-align:center">Fase</th>
                <th scope="col" style="text-align:center">Horas</th>
                <th scope="col" style="text-align:center">Observações</th>
            </tr>
        </thead>
        @*<tbody>
            @foreach (ApontamentoModel apontamento in Model)
            {
                <tr>
                    <th scope="row">@apontamento.Id</th>
                    <th scope="row">@apontamento.StreamId</th>
                    <th scope="row">@apontamento.AtividadeId</th>
                    <th scope="row">@apontamento.Fase</th>
                    <th scope="row">@apontamento.Horas</th>
                    <th scope="row">@apontamento.Observacoes</th>
                </tr>
            @
        </tbody>*@
    </table>
</div>